@charset "UTF-8";

.comment-section {
	margin-top: 40px;
	/* 상단 여백 추가 */
	height: 500px;
	overflow-y: auto;
	/* 세로 스크롤을 활성화합니다. */
}

.comment-section::-webkit-scrollbar {
	display: none;
}

.comment_title {
	font-size: 40px;
	margin: 50px auto;
	text-align: center;
}

.comment-user {
	font-size: 25px;
	display: flex;
	align-items: center;
	margin-left: 10%;
	margin-top: 50px;
	margin-bottom: 10px;
}

.comment-profile-img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
}

.comment-input {
	width: 80%;
	height: 80px;
	border: 2px solid black;
	padding: 5px;
	box-sizing: border-box;
	margin-bottom: 10px;
	resize: none;
}

.comment-list {
	width: 70%;
	margin: 0 auto;
	max-height: 1000px;
	overflow-y: auto;
	margin-bottom: 20px;
}

.comment-item {
	margin-bottom: 15px;
	display: flex;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
	align-items: center;
}

.comment-item-nickname {
	width: 100px;
	text-align: center;
}

.comment-item-text {
	flex: 1;
	padding: 10px;
	border-radius: 8px;
	margin-left: 10px;
	position: relative;
}

.comment-item-text::before {
	content: '';
	position: absolute;
	left: -7px;
	top: 10px;
	border-width: 10px 7px 10px 0;
	border-color: transparent #ffffff transparent transparent;
	border-style: solid;
	display: inline-block;
}

.comment-input-container {
	width: 70%;
	margin: 0 auto;
	display: flex;
	align-items: start;
	gap: 10px;
	border-top: 2px solid #FFA101;
	padding-top: 20px;
}

input:focus, textarea:focus {
	border-color: #FFA101;
	outline: none;
	/* 브라우저 기본 아웃라인 제거 */
	box-shadow: 0 0 3px #FFA101;
	/* 선택되었을 때 약간의 그림자 효과 추가 */
}

.submit-button {
	background-color: #FFA101;
	/* 배경색 설정 */
	border: none;
	/* 경계선 제거 */
	color: white;
	/* 텍스트 색상 설정 */
	padding: 20px 40px;
	/* 패딩 설정 */
	text-align: center;
	/* 텍스트 중앙 정렬 */
	text-decoration: none;
	/* 텍스트 장식 제거 */
	display: inline-block;
	/* 인라인 블록으로 표시 */
	font-size: 16px;
	/* 폰트 크기 설정 */
	margin: 4px 2px;
	/* 마진 설정 */
	cursor: pointer;
	/* 마우스 커서를 포인터로 설정 */
	border-radius: 4px;
	/* 모서리 둥글게 설정 */
	margin-top: 50px;
}

.application-section {
	text-align: center; /* 버튼을 중앙에 위치시킵니다. */
	margin-top: 20px; /* 상단 여백 추가 */
}

a:hover, button:hover, .submit-button:hover, .application-button:hover {
	transform: scale(1.05);
	/* 약간 확대 */
	transition: transform 0.3s;
	/* 부드럽게 전환 */
}

.application-button, .submit-button, .comment-item {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}