@charset "UTF-8";
.email-container {
            text-align: center;
            margin-top: 170px; /* 로그인 창과 게스트 호스트 거리 간격 */
        }

        .input-container {
            text-align: center; /* 입력 필드를 가로 중앙으로 정렬 */
            margin: 10px ; /* 비밀번호 입력창과 로그인 버튼 거리 간격*/
        }
        .input-container2 {
            text-align: center; /* 입력 필드를 가로 중앙으로 정렬 */
            margin: 100px ; /* 비밀번호 입력창과 로그인 버튼 거리 간격*/
        }

        .input-container label {
            display: block;
            text-align: center;
            margin-bottom: 5px;
        }

        span input{
            width: 125px; /* 입력 창 너비 조정 */
            padding:10px;
            text-align: center;
        }

        .send-button{
            background-color: #FFA101;
            color: #FFF;
            width: 120px;
            padding: 10px;
            border: none;
            cursor: pointer;
        }
        .code-button{
            background-color: #FFA101;
            color: #FFF;
            width: 120px;
            padding: 10px;
            border: none;
            cursor: pointer;
        }
        .find-button{
            background-color: #FFA101;
            color: #FFF;
            width: 120px;
            padding: 10px;
            border: none;
            cursor: pointer;
        }
        select{
            width: 120px;
            height: 43px;
        }
        .input-container  table{
        position: absolute;
	left: 37%;
	right: 33%;
        }